<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EMUROBOT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IService" />
				<binding name="BasicHttpBinding_ICmdService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8001/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="NewServiceReference.IService" name="BasicHttpBinding_IService" />
			<endpoint address="http://localhost:8002/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICmdService" contract="RobotService.ICmdService" name="BasicHttpBinding_ICmdService" />
		</client>
    </system.serviceModel>
    <userSettings>
        <EMUROBOT.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.0.0</value>
            </setting>
        </EMUROBOT.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
