<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMU.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EMU.Business.Properties.Settings>
            <setting name="ImgSavePath" serializeAs="String">
                <value>D:\Image</value>
            </setting>
            <setting name="DataJsonSavePath" serializeAs="String">
                <value>D:\Json</value>
            </setting>
            <setting name="TaskJsonSave" serializeAs="String">
                <value>D:\Json</value>
            </setting>
            <setting name="VppPath" serializeAs="String">
                <value>D:\Vpp\test.vpp</value>
            </setting>
        </EMU.Business.Properties.Settings>
    </userSettings>
</configuration>