<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <Project.Properties.Settings>
            <setting name="RGV正常速度刻度" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="RGV超速速度刻度" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="RGV电量预警刻度" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RGV低电报警刻度" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RGV警告电流刻度" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RGV危险电流刻度" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RGV最大电流刻度" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RGV低温提醒刻度" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RGV高温提醒刻度" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="RGV最低温刻度" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="RGV最高温刻度" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="RGV充电位位置" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RGV轨道长度" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="第一节车标记色" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="第二节车标记色" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="第三节车标记色" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="第四节车标记色" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="第五节车标记色" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="第六节车标记色" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="第七节车标记色" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="第八节车标记色" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="第九节车标记色" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="第十节车标记色" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="第11节车标记色" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="第12节车标记色" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="第13节车标记色" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="第14节车标记色" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="第15节车标记色" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="第16节车标记色" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="日志" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerPath" serializeAs="String">
                <value>http://localhost:8001/</value>
            </setting>
            <setting name="控制服务地址" serializeAs="String">
                <value>127.0.0.1:10010</value>
            </setting>
            <setting name="业务服务地址" serializeAs="String">
                <value>127.0.0.1:10011</value>
            </setting>
        </Project.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>