<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMU.Parameter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EMU.Parameter.Properties.Settings>
            <setting name="FtpIP" serializeAs="String">
                <value>192.168.0.102</value>
            </setting>
            <setting name="FtpPort" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="FtpUser" serializeAs="String">
                <value>robot</value>
            </setting>
            <setting name="FtpPwd" serializeAs="String">
                <value>robot</value>
            </setting>
            <setting name="HttpServerPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="HttpBufferSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="ModbusTcp" serializeAs="String">
                <value>192.168.0.194</value>
            </setting>
            <setting name="Light" serializeAs="String">
                <value>com4</value>
            </setting>
            <setting name="LightFrontHigh" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LightBackHigh" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LaserPositioning" serializeAs="String">
                <value>com5</value>
            </setting>
            <setting name="RgvIP" serializeAs="String">
                <value>192.168.0.254</value>
            </setting>
            <setting name="RgvPort" serializeAs="String">
                <value>8899</value>
            </setting>
            <setting name="RelayIP" serializeAs="String">
                <value>192.168.0.191</value>
            </setting>
            <setting name="RelayPort" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="RobotIP" serializeAs="String">
                <value>192.168.0.191</value>
            </setting>
            <setting name="RobotPort" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="RobotFrontIP" serializeAs="String">
                <value>192.168.0.170</value>
            </setting>
            <setting name="RobotBackIP" serializeAs="String">
                <value>192.168.0.171</value>
            </setting>
            <setting name="Stm32Com" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="Stm32BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Stm32Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stm32DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Stm32StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RobotFrontPort" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="RobotBackPort" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="RobotID" serializeAs="String">
                <value>0000001</value>
            </setting>
            <setting name="AppServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="AppServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lidar" serializeAs="String">
                <value />
            </setting>
            <setting name="LineLider" serializeAs="String">
                <value />
            </setting>
        </EMU.Parameter.Properties.Settings>
    </userSettings>
</configuration>